table {
  text-align: center;
  border-collapse: collapse;
  width: 90%;
  margin: 20px auto;
}

th, td {
  border: 1px solid black;
  padding: 5px 5px;
}

th {
  background-color: #48D9B0;
}

tr:nth-child(even) {
  background-color: #191919;
  color: #F2F2F2;
}

tr:nth-child(odd) {
  background-color: #2c2c2c;
  color: #F2F2F2;
}

